/*! GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
/* font-family: 'Jost', sans-serif; */

/* H1 48PX */
/* H2 40PX-48PX-2PX LETTER-SPACING */
/* H3 20PX-26PX-5PX LETTER-SPACING */

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

:root {
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

/*! NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin: auto;
  width: 80%;
}

nav img {
  height: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 300;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav ul li::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
nav ul li:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav ul {
    font-size: 11px;
    gap: 1rem;
  }

  nav img {
    height: 1rem;
  }
}

/*! HERO */

.hero {
  display: flex;
  border-radius: 1.5rem;
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: var(--peach);
  background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.heroText {
  margin: auto 10%;
  text-align: left;
  width: 50rem;
}

.hero h2 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 3vw;
}

.hero p {
  color: var(--white);
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5vw;
}

.hero a {
  text-decoration: none;
  color: var(--white);
  padding: 1vw 1vw;
  border-radius: 0.4rem;
  background-color: var(--light-peach);
  font-weight: 500;
}

.hero a:active {
  color: var(--black);
  background-color: var(--white);
}

.heroImage {
  background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.heroPhone {
  width: 30vw;
  object-fit: cover;
  transform: translateY(5%);
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .heroText {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .heroText h2 {
    font-size: 36px;
  }

  .heroText p {
    font-size: 16px;
  }

  .heroPhone {
    width: 30rem;
    margin: auto;
  }
}

/*! DESIGN SECTION */

.design {
  width: 85%;
  margin: auto;
  display: flex;
  height: 75%;

  color: var(--white);
  margin-top: 10%;
}

.design h2 {
  font-size: 38px;
  font-weight: 400;
  z-index: 2;
}

.design h3 {
  font-weight: 400;
  letter-spacing: 3px;
  z-index: 2;
}

.webDesign {
  background-image: url("../assets/home/desktop/image-web-design-large.jpg");
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1.5rem;
  position: relative;
}

.appDesign,
.graphicDesign {
  background-image: url("../assets/home/desktop/image-app-design.jpg");
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 95%;

  /* border: 2px solid orange; */
  border-radius: 1.5rem;
}

.graphicDesign {
  background-image: url("../assets/home/desktop/image-graphic-design.jpg");
  height: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.secondDesignContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  gap: 5%;
}

.webDesign::after,
.appDesign::after,
.graphicDesign::after {
  content: "";
  background-color: var(--light-peach);
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

.webDesign:hover::after,
.appDesign:hover::after,
.graphicDesign:hover::after {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .design {
    flex-direction: column;
  }

  .secondDesignContainer {
    height: 70%;
    width: 100%;
  }

  .appDesign,
  .graphicDesign {
    height: 50%;
    width: 100%;
    background-position: top;
  }

  .webDesign {
    height: 30%;
    width: 100%;
    background-position: bottom;
    margin-bottom: 3%;
  }
}
